@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    padding: 2rem;
    position: relative;

    &__heading {
        margin: 0;
        text-align: center;

        &::before {
            content: '';
            display: block;
            width: 15rem;
            height: 15rem;
            background-image: url(../img/alex.jpg);
            background-size: cover;
            background-position: center center;
            margin: 0 auto 2rem auto;
        }
    }

    &__links {
        font-size: 5rem;
        text-align: center;
        margin-top: 4rem;
        line-height: 0;

        @include m.tablet {
            position: absolute;
            right: 5rem;
            top: 0rem;
        }
    }
}